asgiref==3.11.1
black==26.1.0
click==8.3.1
colorama==0.4.6
crispy-bootstrap5==2024.2
dj-database-url==3.1.0
dj-email-url==1.0.6
Django==5.0.14
django-cache-url==3.4.6
django-crispy-forms==2.2
environs==11.0.0
gunicorn==22.0.0
marshmallow==4.2.2
mypy_extensions==1.1.0
packaging==26.0
pathspec==1.0.4
platformdirs==4.5.1
psycopg==3.2.1
psycopg[binary]==3.2.13
python-dotenv==1.2.1
pytokens==0.4.1
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2025.3
whitenoise==6.7.0
